<div >
  <img class=" logo" alt="Curso Odontologia Unesc" src="../../../../../assets/images/bateu-logo.png">
</div>
<!-- <div class="container">
  <div class="po-row">
    <po-widget class="po-md-6 po-mt-2" p-height="200">
      <div class="po-font-title po-text-center po-pt-5">80 Orçamentos</div>
      <div class="po-text-center">cups of coffee are consumed per year in U.S.</div>
    </po-widget>

    <po-widget class="po-md-6 po-mt-2" p-height="200">
      <div class="po-font-title po-text-center po-pt-5">50 Cotações</div>
      <div class="po-text-center">traded commodity in the world second to Oil.</div>
    </po-widget>
  </div>

  <div class="po-row">
    <po-chart
      class="po-lg-6 po-mt-2"
      p-title="Top 5 Coffee Consuming Countries (in kg per capita)"
      [p-series]="coffeeConsumption"
      [p-type]="coffeConsumingChartType"
      (p-series-click)="showMeTheDates($event)"
    >
    </po-chart>
  </div>

  <div class="po-row">
    <po-widget class="po-md-6 po-mt-2" p-height="200">
      <div class="po-font-title po-text-center po-pt-5">80 Orçamentos</div>
      <div class="po-text-center">cups of coffee are consumed per year in U.S.</div>
    </po-widget>

    <po-widget class="po-md-6 po-mt-2" p-height="200">
      <div class="po-font-title po-text-center po-pt-5">50 Cotações</div>
      <div class="po-text-center">traded commodity in the world second to Oil.</div>
    </po-widget>
  </div>
</div> -->
